[workspace]
members = [
    "crates/arroyo",
    "crates/arroyo-api",
    "crates/arroyo",
    "crates/arroyo-compiler-service",
    "crates/arroyo-connectors",
    "crates/arroyo-controller",
    "crates/arroyo-datastream",
    "crates/arroyo-planner",
    "crates/arroyo-formats",
    "crates/arroyo-metrics",
    "crates/arroyo-node",
    "crates/arroyo-openapi",
    "crates/arroyo-operator",
    "crates/arroyo-rpc",
    "crates/arroyo-server-common",
    "crates/arroyo-sql-testing",
    "crates/arroyo-state",
    "crates/arroyo-storage",
    "crates/arroyo-types",
    "crates/arroyo-udf/arroyo-udf-common",
    "crates/arroyo-udf/arroyo-udf-plugin",
    "crates/arroyo-udf/arroyo-udf-host",
    "crates/arroyo-udf/arroyo-udf-macros",
    "crates/arroyo-worker",
    "crates/copy-artifacts",
    "crates/integ",
]

resolver = "2"

[workspace.dependencies]
tonic = { version = "0.11", features = ["zstd"] }
tonic-build = { version = "0.11" }
tonic-web = { version = "0.11" }
tonic-reflection = { version = "0.11" }
arrow = { version = "=52.1.0" }
arrow-ord = { version = "=52.1.0" }
arrow-array = { version = "=52.1.0" }
arrow-schema = { version = "=52.1.0" }
arrow-json = { version = "=52.1.0" }
object_store = { version = "0.10" }
parquet = { version = "=52.1.0" }
ahash = { version = "=0.8.7" }
datafusion = { version = "40.0.0" }
datafusion-common = { version = "40.0.0" }
datafusion-proto = { version = "40.0.0" }
datafusion-functions = { version = "40.0.0", features = ["crypto_expressions"] }
deltalake = { version = "0.18.2" }
cornucopia = { version = "0.9.0" }
cornucopia_async = {version = "0.6.0"}
deadpool-postgres = "0.12"

[profile.release]
debug = 1

[profile.dev]
split-debuginfo = "unpacked"


[patch.crates-io]
deltalake = { git = 'https://github.com/delta-io/delta-rs', rev = 'e75a0b49b40f35ed361444bbea0e5720f359d732' }
typify = { git = 'https://github.com/ArroyoSystems/typify.git', branch = 'arroyo' }
parquet = {git = 'https://github.com/ArroyoSystems/arrow-rs', branch = '52.1.0/parquet_bytes'}
arrow-json = {git = 'https://github.com/ArroyoSystems/arrow-rs', branch = '52.1.0/json'}
datafusion = {git = 'https://github.com/ArroyoSystems/arrow-datafusion', branch = '40.0.0/arroyo'}
datafusion-common = {git = 'https://github.com/ArroyoSystems/arrow-datafusion', branch = '40.0.0/arroyo'}
datafusion-execution = {git = 'https://github.com/ArroyoSystems/arrow-datafusion', branch = '40.0.0/arroyo'}
datafusion-expr = {git = 'https://github.com/ArroyoSystems/arrow-datafusion', branch = '40.0.0/arroyo'}
datafusion-physical-expr = {git = 'https://github.com/ArroyoSystems/arrow-datafusion', branch = '40.0.0/arroyo'}
datafusion-physical-plan = {git = 'https://github.com/ArroyoSystems/arrow-datafusion', branch = '40.0.0/arroyo'}
datafusion-proto = {git = 'https://github.com/ArroyoSystems/arrow-datafusion', branch = '40.0.0/arroyo'}
cornucopia_async = { git = "https://github.com/ArroyoSystems/cornucopia", branch = "sqlite" }
cornucopia = { git = "https://github.com/ArroyoSystems/cornucopia", branch = "sqlite" }