[workspace]
members = [
    "crates/arroyo",
    "crates/arroyo-api",
    "crates/arroyo",
    "crates/arroyo-compiler-service",
    "crates/arroyo-connectors",
    "crates/arroyo-controller",
    "crates/arroyo-datastream",
    "crates/arroyo-planner",
    "crates/arroyo-formats",
    "crates/arroyo-metrics",
    "crates/arroyo-node",
    "crates/arroyo-openapi",
    "crates/arroyo-operator",
    "crates/arroyo-rpc",
    "crates/arroyo-server-common",
    "crates/arroyo-sql-testing",
    "crates/arroyo-state",
    "crates/arroyo-storage",
    "crates/arroyo-types",
    "crates/arroyo-udf/arroyo-udf-common",
    "crates/arroyo-udf/arroyo-udf-plugin",
    "crates/arroyo-udf/arroyo-udf-host",
    "crates/arroyo-udf/arroyo-udf-macros",
    "crates/arroyo-udf/arroyo-udf-python",
    "crates/arroyo-worker",
    "crates/copy-artifacts",
    "crates/integ",
]

resolver = "2"

[workspace.dependencies]
tonic = { version = "0.13", features = ["zstd"] }
tonic-build = { version = "0.12" }
tonic-web = { version = "0.12" }
tonic-reflection = { version = "0.12" }
tower = { version = "0.5" }
tower-http = {version = "0.6"}
axum = { version = "0.7" }
utoipa = { version = "4" }

arrow = { version = "=53.2.0" }
arrow-ord = { version = "=53.2.0" }
arrow-array = { version = "=53.2.0" }
arrow-schema = { version = "=53.2.0" }
arrow-json = { version = "=53.2.0" }
object_store = { version = "0.11" }
parquet = { version = "=53.2.0" }
ahash = { version = "=0.8.7" }
datafusion = { version = "43.0.0" }
datafusion-common = { version = "43.0.0" }
datafusion-proto = { version = "43.0.0" }
datafusion-functions = { version = "43.0.0", features = ["crypto_expressions"] }
datafusion-functions-window = {version = "43.0.0"}
datafusion-functions-json = { version = "0.43.0" }
deltalake = { version = "0.22.0" }
cornucopia = { version = "0.9.0" }
cornucopia_async = {version = "0.6.0"}
deadpool-postgres = "0.14"
prost = { version = "0.13", features = ["no-recursion-limit"] }
prost-reflect = "0.14.0"
prost-build = {version = "0.13" }
prost-types = "0.13"
aws-config = "1.5.13"
reqwest = "0.12"

[profile.release]
debug = 1

[profile.dev]
split-debuginfo = "unpacked"


[patch.crates-io]
deltalake = { git = 'https://github.com/delta-io/delta-rs', rev = '25ce38956e25722ba7a6cbc0f5a7dba6b3361554' }
typify = { git = 'https://github.com/ArroyoSystems/typify.git', branch = 'arroyo' }
parquet = {git = 'https://github.com/ArroyoSystems/arrow-rs', branch = '53.2.0/parquet_bytes'}
arrow-json = {git = 'https://github.com/ArroyoSystems/arrow-rs', branch = '53.2.0/json'}
datafusion = {git = 'https://github.com/ArroyoSystems/arrow-datafusion', branch = '43.0.0/arroyo'}
datafusion-common = {git = 'https://github.com/ArroyoSystems/arrow-datafusion', branch = '43.0.0/arroyo'}
datafusion-execution = {git = 'https://github.com/ArroyoSystems/arrow-datafusion', branch = '43.0.0/arroyo'}
datafusion-expr = {git = 'https://github.com/ArroyoSystems/arrow-datafusion', branch = '43.0.0/arroyo'}
datafusion-physical-expr = {git = 'https://github.com/ArroyoSystems/arrow-datafusion', branch = '43.0.0/arroyo'}
datafusion-physical-plan = {git = 'https://github.com/ArroyoSystems/arrow-datafusion', branch = '43.0.0/arroyo'}
datafusion-proto = {git = 'https://github.com/ArroyoSystems/arrow-datafusion', branch = '43.0.0/arroyo'}
datafusion-functions = {git = 'https://github.com/ArroyoSystems/arrow-datafusion', branch = '43.0.0/arroyo'}
datafusion-functions-window = {git = 'https://github.com/ArroyoSystems/arrow-datafusion', branch = '43.0.0/arroyo'}

datafusion-functions-json = {git = 'https://github.com/ArroyoSystems/datafusion-functions-json', branch = 'datafusion_43'}

# object_store = { git = 'http://github.com/ArroyoSystems/arrow-rs', branch = 'object_store_0.11.1/arroyo' }
object_store = { git = 'http://github.com/ArroyoSystems/arrow-rs', branch = 'public_token_cache' }

cornucopia_async = { git = "https://github.com/ArroyoSystems/cornucopia", branch = "sqlite" }
cornucopia = { git = "https://github.com/ArroyoSystems/cornucopia", branch = "sqlite" }

# needed until 0.13 is released to get tower 0.5 upgrade
tonic = { git = "https://github.com/hyperium/tonic", rev = "b80428ba7dfcc607dfaac07022c360159ee1dc79" }