[package]
name = "arroyo-operator"
version = "0.16.0-dev"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arroyo-formats = { path = "../arroyo-formats" }
arroyo-metrics = { path = "../arroyo-metrics" }
arroyo-rpc = { path = "../arroyo-rpc" }
arroyo-state = { path = "../arroyo-state" }
arroyo-types = { path = "../arroyo-types" }
arroyo-datastream = { path = "../arroyo-datastream" }
arroyo-storage = { path = "../arroyo-storage" }
arroyo-udf-host = { path = "../arroyo-udf/arroyo-udf-host" }
arroyo-udf-python = { path = "../arroyo-udf/arroyo-udf-python" }

anyhow = "1.0.71"
arrow = { workspace = true, features = ["ffi"] }
async-trait = "0.1.68"
bincode = { workspace = true }
datafusion = { workspace = true }
futures = "0.3"
prost = {workspace = true}
rand = { workspace = true }
tokio = { version = "1", features = ["full", "tracing"] }
tokio-stream = { version = "0.1", features = ["full"] }
tracing = "0.1"
async-stream = "0.3.5"
serde_json = "1.0.111"
serde = "1.0.195"
dlopen2 = "0.7.0"
