name: Docker Build

on:
  push:
    branches:
      - master
      - '*docker*'
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*' # Semver matching pattern with optional suffix

permissions:
  packages: write

jobs:
  build:
    strategy:
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
        image_type:
          - worker
          - services
          - compiler
          - single
        include:
          - platform: linux/amd64
            mold_arch: x86_64
            proto_arch: x86_64
            prom_arch: amd64
            runs_on: buildjet-8vcpu-ubuntu-2204
          - platform: linux/arm64
            mold_arch: aarch64
            proto_arch: aarch_64
            prom_arch: arm64
            runs_on: buildjet-8vcpu-ubuntu-2204-arm
          - image_type: worker
            dockerfile: docker/cluster/worker/Dockerfile
          - image_type: services
            dockerfile: docker/cluster/services/Dockerfile
          - image_type: compiler
            dockerfile: docker/cluster/compiler/Dockerfile
          - image_type: single
            dockerfile: docker/single/Dockerfile
    runs-on: ${{ matrix.runs_on }}
    steps:
      # Get the repository's code
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2.2.0
        if:  ${{ github.event_name != 'pull_request' }}
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Login to GHCR
        uses: docker/login-action@v2.2.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Docker meta
        id: arroyo-docker # you'll use this in the next step
        uses: docker/metadata-action@v4.6.0
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/arroyo-${{ matrix.image_type }}
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr,prefix=${{ matrix.prom_arch }}-pr-
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha,prefix=${{ matrix.prom_arch }}-sha-
          flavor: |
            latest=false
            prefix=${{ matrix.prom_arch }}-
      - name: Set env
        run: echo "GIT_SHA=$(git rev-parse HEAD)" >> $GITHUB_ENV
      - name: Build and push
        uses: docker/build-push-action@v4.1.1
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          platforms: ${{ matrix.platform }}
          build-args: |
            MOLD_ARCH=${{ matrix.mold_arch }}
            PROTO_ARCH=${{ matrix.proto_arch }}
            PROM_ARCH=${{ matrix.prom_arch }}
            GIT_SHA=${{ env.GIT_SHA }}
          push: true
          cache-from: type=registry,ref=user/app:latest
          cache-to: type=inline
          tags: ${{ steps.arroyo-docker.outputs.tags }}
          labels: ${{ steps.arroyo-docker.outputs.labels }}
  manifest:
    needs: build
    if:  ${{ github.event_name != 'pull_request' }}
    strategy:
      matrix:
        image_type:
          - worker
          - services
          - compiler
          - single
    runs-on: ubuntu-latest
    steps:
      - name: Login to GHCR
        uses: docker/login-action@v2.20
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker meta
        id: arroyo-docker # you'll use this in the next step
        uses: docker/metadata-action@v3
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/arroyo-${{ matrix.image_type }}
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
      - name: Create and push Docker manifest
        run: |
          TAG=${{ steps.arroyo-docker.outputs.version }}
          IMAGE=ghcr.io/${{ github.repository_owner }}/arroyo-${{ matrix.image_type }}
          docker manifest create   ${IMAGE}:${TAG} ${IMAGE}:arm64-${TAG} ${IMAGE}:amd64-${TAG}
          docker manifest annotate ${IMAGE}:${TAG} ${IMAGE}:arm64-${TAG} --arch arm64
          docker manifest annotate ${IMAGE}:${TAG} ${IMAGE}:amd64-${TAG} --arch amd64
          docker manifest push     ${IMAGE}:${TAG}
      - name: Push latest to tip tag.
        if: github.ref == 'refs/heads/master'
        run: |
          TAG=${{ steps.arroyo-docker.outputs.version }}
          IMAGE=ghcr.io/${{ github.repository_owner }}/arroyo-${{ matrix.image_type }}
          docker manifest create   ${IMAGE}:tip ${IMAGE}:arm64-${TAG} ${IMAGE}:amd64-${TAG}
          docker manifest annotate ${IMAGE}:tip ${IMAGE}:arm64-${TAG} --arch arm64
          docker manifest annotate ${IMAGE}:tip ${IMAGE}:amd64-${TAG} --arch amd64
          docker manifest push     ${IMAGE}:tip
  helm:
    strategy:
      matrix:
        config:
          - {runner: 'buildjet-8vcpu-ubuntu-2204', arch: 'amd64'}
          - {runner: 'buildjet-8vcpu-ubuntu-2204-arm', arch: 'arm64'}
    needs: build
    runs-on: ${{ matrix.config.runner }}
    if:  ${{ github.event_name == 'pull_request' }}
    defaults:
      run:
        working-directory: k8s/arroyo
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3.5
        with:
          version: v3.8.1

      # Python is required because `ct lint` runs Yamale (https://github.com/23andMe/Yamale) and
      # yamllint (https://github.com/adrienverge/yamllint) which require Python
      # actions/setup-python doesn't yet support ARM
      - if: ${{ !endsWith(matrix.config.runner, '-arm') }}
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - if: ${{ endsWith(matrix.config.runner, '-arm') }}
        uses: deadsnakes/action@v2.1.1
        with:
          python-version: "3.11"
      
      - name: Set up chart-testing
        ## 2.4.0 latest release doesn't work well with Arm
        uses: helm/chart-testing-action@a629e844a9d081a827cf96486ef29f60afef87e4
        with:
          version: v3.9.0

      - name: Lint chart
        run: ct lint --all 

      - name: Create kind cluster
        uses: helm/kind-action@v1.4.0
      
      - uses: benjlevesque/short-sha@v2.2
        id: short-sha
        with:
          length: 7
          
      - name: Run chart-testing (install)
        run: |
          ct install --charts ./ --config ct.yaml \
          --helm-extra-set-args="\
          --set=api.image.repository=ghcr.io/${{ github.repository_owner }}/arroyo-services \
          --set=api.image.tag=${{ matrix.config.arch }}-sha-${{ steps.short-sha.outputs.sha }} \
          --set=compiler.image.repository=ghcr.io/${{ github.repository_owner }}/arroyo-compiler \
          --set=compiler.image.tag=${{ matrix.config.arch }}-sha-${{ steps.short-sha.outputs.sha }} \
          --set=controller.image.repository=ghcr.io/${{ github.repository_owner }}/arroyo-services \
          --set=controller.image.tag=${{ matrix.config.arch }}-sha-${{ steps.short-sha.outputs.sha }} \
          --set=worker.image.repository=ghcr.io/${{ github.repository_owner }}/arroyo-worker \
          --set=worker.image.tag=${{ matrix.config.arch }}-sha-${{ steps.short-sha.outputs.sha }}"
